<form class="wrapper" [formGroup]="loginForm">
    <div class="input-wrapper">
        <span class="title">LOGİN</span>
        <i class='bx bx-reset reset' (click)="loginForm.reset()"></i>
        <div class="input-box">
            <label for="email">Email</label>
            <input placeholder="muhammet@gmail.com..." type="email" id="email" formControlName="email">
            <span class="error" *ngIf="loginForm.get('email').errors?.['required'] && loginForm.get('email').touched">
                *Please enter your email...
            </span>
            <span class="error" *ngIf="loginForm.get('email').errors?.['email'] && loginForm.get('email').touched">
                *Email format is not suitable...
            </span>
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <input placeholder="123456..." type="password" id="password" formControlName="password">
            <span class="error"
                *ngIf="loginForm.get('password').errors?.['required'] && loginForm.get('password').touched">
                *Please enter your password...
            </span>
            <span class="error" *ngIf="loginForm.get('password').errors?.['minlength']">
                *Minimum 6 characters
            </span>
            <span class="error" *ngIf="loginForm.get('password').errors?.['maxlength']">
                *Maximum 15 characters
            </span>
        </div>
        <div class="input-box">
            <button type="submit" (click)="login()" [disabled]="!loginForm.valid">
                Login
            </button>
        </div>
    </div>
</form>