<form class="wrapper" [formGroup]="registerForm">
    <div class="input-wrapper">
        <span (click)="formReload()" class="title">REGİSTER</span>
        <div class="input-box">
            <label for="firstname">First name</label>
            <input placeholder="Muhammet..." type="text" id="firstname" formControlName="firstName">
        </div>
        <div class="input-box">
            <label for="lastName">Last name</label>
            <input placeholder="Demiralay..." type="text" id="lastName" formControlName="lastName">
        </div>
        <div class="input-box">
            <label for="email">Email</label>
            <input placeholder="pepmuhammet.42@gmail.com..." type="email" id="email" formControlName="email">
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <input placeholder="123456" type="password" id="password" formControlName="password">
        </div>
        <div class="input-box">
            <button type="submit" (click)="register()">
                Register
            </button>
        </div>
    </div>
</form>