<div class="wrapper">
    <div class="logo-box">

        <img routerLink="/home" class="logo" src="https://tmsi.akamaized.net/head/transfermarkt_logo.svg" alt="">
    </div>
    <div class="social-media-box">
        <i class='bx bxl-facebook icon facebook'></i>
        <span>|</span>
        <i class='bx bxl-twitter icon x'></i>
        <span>|</span>

        <a href="https://www.instagram.com/transfermarkt.com.tr/"><i class='bx bxl-instagram icon instagram'></i></a>

        <span>|</span>
        <i class="bi bi-wifi icon wifi"></i>
        <span>|</span>
        <i class='bx bxl-tiktok icon tiktok'></i>
    </div>
    <div class="search-box">
        <div class="box">
            <div class="search-input">
                <input placeholder="Enter your search term" type="text">
                <i class="bi bi-search search-icon"></i>
                <i class='bx bx-search-alt-2 search-btn'>
                    <i class='bx bx-plus-medical plus'></i>
                </i>
            </div>
        </div>
    </div>
</div>