* {
    color: #333333;
}

.content-box {
    position: relative;
    max-height: 240px;
    min-height: 240px;
    height: 100%;
    margin: 0;
}

.content {
    height: 100%;
    background-color: #fff;

}

.top-content {
    position: relative;
    height: 65%;
    background: linear-gradient(to top, #dddddd, #fefefe);
}

.bottom-content {
    height: 35%;
}

.content-description,
.content-null {
    height: 100%;
}

.row-box {
    min-height: 240px;
    max-height: 240px;
}

.content-null {

    position: relative;
}

.content-null .price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 0;
    width: 90%;
    height: 80px;
    background: radial-gradient(#02a8e7, #118dc4);
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}

.small-price {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 8px;
    margin: 0;
    background-color: #00a6ff;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.footballer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a3151;
    font-size: 20px;
    font-weight: 700;
    height: 20%;
}

.img {
    display: flex;
    height: 80%;
}

.top-box {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    height: 110px;
    background-color: #fff;
    border: 1px solid #dddddd;
}

.imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.club-image {
    min-width: 100%;
}

.country-image {
    width: 30px;
    height: 20px;
    object-fit: cover;
}

.country-small-image {
    width: 16px;
    height: 12px;
    border: 1px solid black;
    object-fit: cover;
}

.description {
    padding-left: 5px;
    margin: 0;
    list-style: none;
}

.text {
    font-size: 13px;
    font-weight: 400;
}

.level {
    margin-left: 5px;
    font-weight: 700;
}

.description .league-image {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.league-name {
    color: #1d75a3;
    font-weight: 600;
}

.club-name {
    font-size: 18px;
    font-weight: 700;
    color: #1d75a3;
}

.league-detail {
    font-weight: 600;
}

.blue-detail {
    color: #1d75b8;
}

.top-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

@media only screen and (max-width:768px) {
    .top-content {
        height: 50%;
    }

    .bottom-content {
        height: 50%;
    }

    .content-null {
        display: none;
    }

    .content-description {
        width: 100%;
    }

    .price {
        display: none;
    }

    .img {
        height: 65%;
    }

    .small-price {
        height: 15%;
    }

    .top-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width:992px) {
    .img {
        padding: 2px;
    }
}

@media only screen and (min-width:769px) {
    .small-price {
        display: none;
    }
}

/* ------------------------  */
.league-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.title-box {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    width: 100%;
    height: 34px;
    background-color: #1a3151;
    color: #fff;
    font-weight: 500;
}

.title-box .icon {
    position: absolute;
    right: 2px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
}

.title-box .icon:hover {
    color: #fff;
    background-color: #ef233c;
}

.national-wrapper {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#img-td {
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-align: start;
    text-indent: 4px;
}

#img-td span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#img-td img {
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    object-fit: cover;
}

#competition {
    text-indent: 4px;
    text-align: start;
}


.edit-box .icon {
    padding: 4px;
    border: 1px solid black;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-right: 4px;
    margin-left: 4px;
}

.edit-box .icon:hover {
    color: #fff;
    background-color: #ef233c;
}

.model {
    min-height: 500px;
}

@media only screen and (min-width:1200px) {
    * {
        font-size: 14px;
    }

}

@media only screen and (max-width:1199px) {
    * {
        font-size: 13px;
    }

    .content-null .price {
        font-size: 40px;
    }

    .league-text {
        font-size: 30px;
    }
}

@media only screen and (max-width:992px) {
    * {
        font-size: 12px;
    }


    .content-null .price {
        font-size: 35px;
    }

    .edit-box .icon {
        margin-right: 2px;
        margin-left: 2px;
        padding: 2px;
    }

    .league-text {
        font-size: 25px;
    }
}

@media only screen and (max-width:768px) {
    * {
        font-size: 11px;
    }

    .top-box {
        border: none;
    }

}

@media only screen and (max-width:576px) {
    * {
        font-size: 10px;
    }
}

.footballer-info {
    display: flex;
    align-items: center;
}

.footballer-info .footballer-image-box {
    width: 40px;
    height: 40px;
}

.footballer-image-box .footballer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footballer-info .footballer-name-position {
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.footballer-name,
.footballer-positon {
    display: flex;
    justify-content: start;
}

.footballer-name {
    color: #0f6194;
    font-weight: 600;
    font-size: 15px;
}

.nationality-image-box {
    width: 30px;
    height: 20px;
}

.nationality-image {
    width: 30px;
    height: 20px;
    object-fit: cover;
}

.market-value {
    text-align: end;
    font-weight: 600;
    color: #1d75a3;
    padding-right: 10px;
}

.player {
    margin: 0;
    padding: 0;
}

.player .player-info,
.player .field-box {
    border: 0.5px solid rgb(201, 201, 201);
    background-color: #fff;
    min-height: 510px;
    max-height: 510px;
}

.player-info div {
    display: flex;
    width: 100%;
    margin: 12px 0 12px 0;
}

.player-info div span {
    font-size: 13px;
}

.left-box {
    width: 40%;
}

.right-box {
    width: 60%;
    font-weight: 700;
}

.text-blue {
    color: #2184b9;
    display: flex;
    align-items: center;
}

.player-text {
    display: flex;
    align-items: center;
    background-color: #1a3151;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    padding-left: 12px;
}

.current-club-image {
    width: 25px;
    object-fit: cover;
}

.footballer-country-image {
    width: 20px;
    object-fit: cover;
    border: 0.5px solid black;
    margin-right: 8px;
}

.field-box .field {
    padding: 0;
    margin: 0;

}

.field .bar {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    background-color: #d2e3ed;
    height: 30px;
    font-weight: 700;
    font-size: 13px;
}

.field .position-box {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
}

.position-box .position-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.position-box .position-value {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-value .floor,
.position-value .floor-field {
    position: absolute;
    width: 80%;
    height: 85%;
}

.position-value .floor-field {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.floor-field .one,
.floor-field .two {
    padding: 0;
    margin: 0;
    width: 100%;
}

.floor-field .one {
    height: 18%;
}

.floor-field .two {
    height: 16%;
}

.position-point {
    content: '';
    border-radius: 50%;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-point .point {
    content: '';
    min-width: 20px;
    min-height: 20px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #314f77;
}

.floor-field .atacking,
.floor-field .backs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backs .back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.atacking .atack-left,
.atacking .atack-right,
.atacking .atack-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.atacking .atack-left,
.atacking .atack-right {
    width: 30%;
}

.atacking .atack-center {
    width: 40%;
}

.one .goalkeeper,
.one .forward,
.two .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.transfer-club-image {
    object-fit: cover;
    width: 20px;
    height: 20px;
}

.transfer-country-image {
    object-fit: cover;
    width: 18px;
    height: 14px;
    border: 0.3px solid black;
}

td,
th {
    border: 1px solid #cfcfcf;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
    font-weight: 500;
    font-size: 12;
}

.transfer-td {
    text-align: start;
    font-weight: 500;
    font-size: 12;
}

.transfer-td span {
    color: #1d75a3;
}

.transfer-td img {
    margin-right: 8px;
}

.value {
    text-align: end;
    margin-right: 5px;
}