<div class="container p-0" *ngIf="clubDetail">
     <div class="row p-0  m-0" *ngIf="footballerDetail">
          <div class="col-12 p-2 m-0">
               <div class="row content-box">
                    <div class="col-4 col-sm-3 col-lg-2 row-box">
                         <div class="row content">
                              <div class="col-12 league-text">{{footballerDetail.name}}</div>
                              <div class="col-12 img">
                                   <img class="imgs"
                                        [src]="footballerDetail.footballerImagePath ? imageUrl + footballerDetail.footballerImagePath : imageUrl + noFootballerPhoto"
                                        alt="">
                              </div>
                              <div class="col-12 small-price">
                                   {{footballerDetail.footballerValue | customcurrency}}
                              </div>
                         </div>
                    </div>
                    <div class="col-8 col-sm-9 col-lg-10 row-box">
                         <div class="row content">
                              <div class="col-12 top-content">
                                   <div class="row content p-0 m-0 top-box">
                                        <div class="col-5 col-sm-4 top-description">
                                             <img class="img club-image"
                                                  [src]="clubDetail.clubImagePath ? imageUrl + clubDetail.clubImagePath : imageUrl + noFootballerPhoto ">
                                        </div>
                                        <div class="col-7 col-sm-8 p-0">
                                             <ul class="description">
                                                  <li class="club-name">{{footballerDetail.clubName}}</li>
                                                  <div>
                                                       <img class="league-image"
                                                            [src]="clubDetail.leagueImagePath ? imageUrl + clubDetail.leagueImagePath : imageUrl + noFootballerPhoto">
                                                       <span class="league-name">{{clubDetail.leagueName}}</span>
                                                  </div>
                                                  <li>
                                                       <span class="text">League level : </span>
                                                       <img class="country-small-image"
                                                            [src]="clubDetail.countryImagePath ? imageUrl + clubDetail.countryImagePath : imageUrl + noFootballerPhoto "
                                                            alt="">
                                                       <span class="text level">{{clubDetail.leagueLevel |
                                                            leaguelevel}}</span>
                                                  </li>
                                                  <li class="text">
                                                       Joined :
                                                  </li>
                                                  <li class="text">
                                                       Contract expires :
                                                  </li>
                                             </ul>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-12 bottom-content ">
                                   <div class="row content">
                                        <div class="col-md-8 col-lg-9 content-description">
                                             <div class="row">
                                                  <div class="col-12 col-md-4">
                                                       <ul class="description">
                                                            <li><span>Date of birth/Age: </span>
                                                                 <span>{{footballerDetail.dateOfBirth | date}}</span>
                                                            </li>
                                                            <li><span>Place of birth : </span>
                                                                 <span></span>
                                                            </li>
                                                            <li>
                                                                 <span>Citizenship: </span>
                                                                 <span></span>
                                                            </li>
                                                       </ul>
                                                  </div>
                                                  <div class="col-12 col-md-4">
                                                       <ul class="description">
                                                            <li>
                                                                 <span>Height : </span>
                                                                 <span>{{footballerDetail.height}}</span>
                                                            </li>
                                                            <li>
                                                                 <span>Position : </span>
                                                                 <span>{{footballerDetail.positionName}}</span>
                                                            </li>
                                                       </ul>
                                                  </div>
                                                  <div class="col-12 col-md-4">
                                                       <ul class="description">
                                                            <li>
                                                                 <span>Former International : </span>
                                                                 <span></span>
                                                            </li>
                                                            <li>
                                                                 <span>Caps/Goals : </span>
                                                                 <span></span>
                                                            </li>
                                                       </ul>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-md-4 col-lg-3 content-null">
                                             <div class="price">
                                                  {{footballerDetail.footballerValue| customcurrency}}
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!---------------->
     <!-- <div class="row mt-2" style="border-style: solid; height: 110px;">

     </div>


     <div class="row mt-2" style="border-style: solid; height: 70px;">

     </div> -->

     <div class="row p-2 mt-2 gx-2">

          <div class="col-8">
               <div class="col-12 player-text">
                    PLAYER DATA
               </div>
               <div class="col-12" class="player">
                    <div class="row m-0">
                         <div class="col-6 player-info">
                              <div>
                                   <span class="left-box">Name in home country :</span>
                                   <span class="right-box">{{footballerDetail.nameInHomeCountry}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Date of birth/Age :</span>
                                   <span class="right-box text-blue">{{footballerDetail.dateOfBirth | date}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Place of birth :</span>
                                   <span class="right-box">{{footballerDetail.placeOfBirth}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Height :</span>
                                   <span class="right-box"><span>{{meter}},</span>{{centimeter}}m</span>
                              </div>
                              <div>
                                   <span class="left-box">Citizenship :</span>
                                   <span class="right-box text-blue">
                                        <img class="footballer-country-image"
                                             [src]="footballerDetail.footballerCountryImagePath ? imageUrl + footballerDetail.footballerCountryImagePath : imageUrl + noFootballerPhoto">
                                        {{footballerDetail.footballerCountryName}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Position :</span>
                                   <span class="right-box">{{footballerDetail.positionName}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Foot :</span>
                                   <span class="right-box">{{footballerDetail.footName}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Player agent :</span>
                                   <span class="right-box text-blue">{{footballerDetail.playerAgent}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Current club :</span>
                                   <span class="right-box text-blue">
                                        <img class="current-club-image"
                                             [src]="footballerDetail.footballerClubImagePath ? imageUrl + footballerDetail.footballerClubImagePath : imageUrl + noFootballerPhoto">
                                        {{footballerDetail.clubName}}
                                   </span>
                              </div>
                              <div>
                                   <span class="left-box">Joined :</span>
                                   <span class="right-box">{{footballerDetail.joined | date}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Contract expires:</span>
                                   <span class="right-box">{{footballerDetail.contractExpires | date}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Date of last contract :</span>
                                   <span class="right-box">{{footballerDetail.dateOfLastContract | date}}</span>
                              </div>
                              <div>
                                   <span class="left-box">Outfitter :</span>
                                   <span class="right-box"></span>
                              </div>
                              <div>
                                   <span class="left-box">Social-Media :</span>
                                   <span class="right-box"></span>
                              </div>
                         </div>

                         <div class="col-6">
                              <div class="row field-box">
                                   <div class="col-12 field">
                                        <div class="bar">
                                             Main position
                                        </div>
                                        <div class="position-box">
                                             <div class="position-text">
                                                  <div style="font-weight: 400;">Main position</div>
                                                  <span
                                                       style="font-weight: 600;">{{footballerDetail.positionName}}</span>
                                             </div>
                                             <div class="position-value">
                                                  <img class="floor" src="../../../../assets/image/Field.png" alt="">
                                                  <div class="floor-field">
                                                       <div class="one center-forward">
                                                            <div class="forward">
                                                                 <span *ngIf="footballerDetail.positionName == 'Centre-Forward'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                       </div>

                                                       <div class="two atacking">
                                                            <div class="atack-left">
                                                                 <span *ngIf="footballerDetail.positionName == 'Left-Winger'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                            <div class="atack-center">
                                                                 <span *ngIf="footballerDetail.positionName == 'Attacking-Midfield'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                            <div class="atack-right">
                                                                 <span *ngIf="footballerDetail.positionName == 'Right-Winger'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                       </div>

                                                       <div class="two midfield">
                                                            <div class="middle">
                                                                 <span *ngIf="footballerDetail.positionName == 'Central-Midfield'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                       </div>

                                                       <div class="two midfield">
                                                            <div class="middle">
                                                                 <span *ngIf="footballerDetail.positionName == 'Defensive-Midfielder'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                       </div>

                                                       <div class="two backs">
                                                            <div class="back">
                                                                 <span *ngIf="footballerDetail.positionName == 'Left-Back'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                            <div class="back">
                                                                 <span *ngIf="footballerDetail.positionName == 'Centre-Back'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                            <div class="back">
                                                                 <span *ngIf="footballerDetail.positionName == 'Centre-Back'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                            <div class="back">
                                                                 <span *ngIf="footballerDetail.positionName == 'Right-Back'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                       </div>

                                                       <div class="one">
                                                            <div class="goalkeeper">
                                                                 <span *ngIf="footballerDetail.positionName == 'GoalKeeper'"
                                                                      class="position-point">
                                                                      <span class="point"></span>
                                                                 </span>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-12 field">
                                        <div class="bar">
                                             Market value
                                        </div>

                                   </div>
                              </div>
                         </div>
                    </div>
               </div>


               <!------------------------------------->

               <div class="col-12 mb-2 mt-2">
                    <div class="player-text">TRANSFER HISTORY</div>
                    <table class="table">
                         <thead>
                              <tr>
                                   <th>Season</th>
                                   <th>Date</th>
                                   <th>Left</th>
                                   <th>Joined</th>
                                   <th>MV</th>
                                   <th>Fee</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr class="transfer-row" *ngFor="let transferHistory of transferHistoryDetail">
                                   <td>{{transferHistory.season}}</td>
                                   <td>{{transferHistory.joined | date}}</td>
                                   <td class="transfer-td">
                                        <img class="transfer-club-image"
                                             [src]="imageUrl + transferHistory.beforeClubImagePath">
                                        <img class="transfer-country-image"
                                             [src]="imageUrl + transferHistory.beforeClubCountryImagePath">
                                        <span style="cursor: pointer;" routerLink="/club/{{transferHistory.beforeClubId}}">{{transferHistory.beforeClubName}}</span>
                                   </td>
                                   <td class="transfer-td">
                                        <img class="transfer-club-image"
                                             [src]="imageUrl + transferHistory.lastClubImagePath">
                                        <img class="transfer-country-image"
                                             [src]="imageUrl + transferHistory.lastClubCountryImagePath">
                                        <span style="cursor: pointer;" routerLink="/club/{{transferHistory.lastClubId}}">{{transferHistory.lastClubName}}</span>
                                   </td>
                                   <td class="value">
                                        {{transferHistory.marketValue | customcurrency}}
                                   </td>
                                   <td class="value">
                                        {{transferHistory.fee | customcurrency}}
                                   </td>
                              </tr>
                         </tbody>
                    </table>
               </div>

               <div class="col-12 mb-2" style="border-style: solid; height: 66px;">
                    GENÇLİK KULÜPLERİ
               </div>

               <div class="col-12" style="border-style: solid; height: 157px;">
                    PERFORMANS BİLGİLERİ
               </div>

          </div>

          <div class="col-4">
               <div class="col-12 mb-2" style="border-style: solid; height: 175px;">
                    SONRAKİ KARŞILAŞMALAR
               </div>
               <div class="col-12 mb-2" style="border-style: solid; height: 175px;">
                    MİLLİ MAÇ KARİYERİ
               </div>
               <div class="col-12 mb-2" style="border-style: solid; height: 137px;">
                    OYUNCU ÜZERİNE TARTIŞMALAR
               </div>
               <div class="col-12" style="border-style: solid; height: 216px;">
                    FAVORİN KİM?
               </div>
          </div>

     </div>
</div>