




<div class="container-md p-0">

    <!-- OYUNCU ÜST BİLGİSİ -->
   <div class="row mt-2" style="border-style: solid; height: 260px;"  *ngIf="footballerDetail">
         <div class="col-8">
              <div class="row">
                   <div class="col-12" style="height: 57px; border-style: solid;"><h1>#{{footballerDetail.playerNumber}} {{footballerDetail.name}}</h1></div>
              </div>
              <div class="row">
                    <div class="col-3" style="height: 198px; border-style: solid;">
                         <img style="width: 150px;" [src]=" footballerDetail.footballerImagePath ? imageUrl + footballerDetail.footballerImagePath : imageUrl + noFootballerPhoto">
                    </div>
                   <div class="col-9" style="height: 198px; border-style: solid">
                        <div class="col" style="height: 120px; border-style: solid">Kupalar</div>
                        <div class="col" style="height: 68px; border-style: solid">
                              <label style="font-size: medium;">Doğum Tarihi/Yaş : <b>{{footballerDetail.dateOfBirth}}</b></label> - <label>Boy : <b>{{footballerDetail.height}}</b></label> <br>
                               <label>Uyruk : <img style="width: 30px; border: 1px solid black;" [src]="imageUrl + footballerDetail.footballerCountryImagePath"> <b>{{footballerDetail.footballerCountryName}}</b></label> - <label>Mevki : <b>{{footballerDetail.positionName}}</b></label>
                        </div>
                   </div>
              </div>
         </div>
         <div class="col-4" *ngIf="clubDetail">
              <div class="row">
                   <div class="col-12" style="height:170.6px; border-style: solid">
                        <div class="row">
                              <div class="col-5">
                                   <img style="width: 120px;" [src]="imageUrl + clubDetail.clubImagePath">
                              </div>
                              <div class="col-7">
                                  <label>{{clubDetail.clubName}}</label><br>
                                  <img style="width: 30px;" [src]="imageUrl + clubDetail.leagueImagePath"> - <label>{{clubDetail.leagueName}}</label><br>
                                  <label>Lig seviyesi : <img style="width: 30px;" [src]="imageUrl + clubDetail.countryImagePath"> - <b>{{clubDetail.leagueLevel}}.Lig</b></label>
                              </div>
                        </div>
                   </div>
                   <div class="col-12" style="text-align: center; padding-top: 20px; height:85.3px; border-style: solid; background-color: #089fdb; color: white;">
                        <h2>{{footballerDetail.footballerValue}} milyon $</h2>
                   </div>
              </div>
         </div>
   </div>



   <div class="row mt-2" style="border-style: solid; height: 110px;">
     
   </div>


   <div class="row mt-2" style="border-style: solid; height: 70px;">
           
   </div>


   <div class="row mt-2 gx-2">
       <div class="col-8">
          <div  class="col-12 mb-2" class="playerInfo" *ngIf="clubDetail">
               <div class="row mx-0">
                    <div  class="title">Oyuncu Bilgileri</div>
                    <div class="col-6 px-0" style="text-indent: 10px;">
                         <div></div>
                         <p></p>
                         <p>Anavatandaki isim : <b>{{footballerDetail.name}}</b></p>
                         <p>Doğum tarihi : <b>{{footballerDetail.dateOfBirth | date}}</b></p>
                         <p>Doğum yeri : <b>{{footballerDetail.cityName}} <img style="width: 30px; border: thin solid black;" [src]="imageUrl + footballerDetail.footballerCountryImagePath"></b></p>
                         <p>Yaş : <b>{{footballerDetail.age}}</b></p>
                         <p>Boy : <b>{{footballerDetail.height}}</b></p>
                         <p>Uyruk : <b><img  style="width: 30px; border: thin solid black;" [src]="imageUrl + footballerDetail.footballerCountryImagePath"> {{footballerDetail.footballerCountryName}}</b></p>
                         <p>Mevki : <b>{{footballerDetail.positionName}}</b></p>
                         <p>Ayak : <b>{{footballerDetail.footName}}</b></p>
                         <p>Güncel klüp : <b><img style="width: 30px;" [src]="imageUrl + clubDetail.clubImagePath"> {{clubDetail.clubName}}</b></p>
                    </div>
                    <div class="col-6 px-0">
                         <div class="row" style="margin: 0px">
                              <div class="saha">
                                   <div class="positions oneplayer">1</div>
                                   <div class="positions twoplayer">2</div>
                                   <div class="positions three">3</div>
                                   <div class="positions four">4</div>
                                   <div class="positions five">5</div>
                                   <div class="positions">6</div>
                                   <div class="positions">7</div>
                                   <div class="positions">8</div>
                                   <div class="positions">9</div>
                                   <div class="positions">10</div>
                                   <div class="positions">11</div>
                                   <div class="positions">12</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-12 mb-2 " style="border-style: solid; height: 83px;">
               DİĞER VERİLER
          </div>
          <div class="col-12 mb-2" style="border-style: solid; height: 233px;">
               <table>
                    <thead>
                         <tr>
                              <th>Season</th>
                              <th>Date</th>
                              <th>Before Club</th>
                              <th>Last Club</th>
                              <th>Market Value</th>
                              <th>Fee</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let transferHistory of transferHistoryDetail">
                              <td>{{transferHistory.season}}</td>
                              <td>{{transferHistory.joined}}</td>
                              <td>
                                   <img style="width: 25px;" [src]="imageUrl + transferHistory.beforeClubImagePath">
                                   <img style="width: 20px;" [src]="imageUrl + transferHistory.beforeClubCountryImagePath">
                                   {{transferHistory.beforeClubName}}
                              </td>
                              <td>
                                   <img style="width: 25px;" [src]="imageUrl + transferHistory.lastClubImagePath">
                                   <img style="width: 20px;" [src]="imageUrl + transferHistory.lastClubCountryImagePath">
                                   {{transferHistory.lastClubName}}
                              </td>
                              <td>{{transferHistory.marketValue}}</td>
                              <td>{{transferHistory.fee}}</td>
                         </tr>     
                    </tbody>
               </table>
          </div>
          <div class="col-12 mb-2" style="border-style: solid; height: 66px;">
               GENÇLİK KULÜPLERİ
          </div>
          <div class="col-12" style="border-style: solid; height: 157px;">
               PERFORMANS BİLGİLERİ
          </div>
       </div>
       <div class="col-4">
           <div class="col-12 mb-2" style="border-style: solid; height: 175px;">
               SONRAKİ KARŞILAŞMALAR
          </div>
          <div class="col-12 mb-2" style="border-style: solid; height: 175px;">
               MİLLİ MAÇ KARİYERİ
          </div>
          <div class="col-12 mb-2" style="border-style: solid; height: 137px;">
               OYUNCU ÜZERİNE TARTIŞMALAR
         </div>
         <div class="col-12" style="border-style: solid; height: 216px;">
               FAVORİN KİM?
         </div>
       </div>
   </div>
</div>

