

.league-wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: orange;
}

.league-wrapper .title-box{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 34px;
    background-color: #1a3151;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

















.national-wrapper{
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
    border: 1px solid black;
}