
*{
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width:767px){
    *{
        font-size: 30px;
    };
}

img{
    width: 30px;
}

th, td{
    text-align: center;
    padding: 0px;
    border: thin solid rgb(222, 222, 222);
}


li{
    list-style-type: none;
}


#arrow:hover{
    color: rgb(6, 96, 175);
}

