
.title{
    background-color:#1a3151;
    text-indent: 6px; 
    font-size: large;
    font-weight: bold; 
    color: white;
}

.updateButton::before{
    content:"\270F";
}

.addButton{
    text-align: center;
    font-size: small;
    vertical-align: middle;
    float: right;
}

.deleteButton{
    margin-right: 10px;
}

tr{
   border:1px solid rgb(194, 193, 193); 
}

th{
    text-align: center;
    vertical-align: middle;
}

td{
    text-align: center;
    vertical-align: middle;
}

img{
    width: 40px;
}

a{
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#listNationalTeam{
    height: 50px;
}

b{
    font-size: larger;
}