<div class="wrapper">
    <form [formGroup]="clubUpdateForm">
        <div class="select-image">
            <app-imagemanager [clubId]="clubId"></app-imagemanager>
        </div>
        <div class="box">
            <label for="clubName">Club Name</label>
            <input type="text" formControlName="clubName" id="clubName">
        </div>
        <div class="box">
            <label for="squadSize">Squad Size</label>
            <input type="text" formControlName="squadSize" id="squadSize">
        </div>
        <div class="box">
            <label for="averageAge">Average Age</label>
            <input type="text" formControlName="averageAge" id="averageAge">
        </div>
        <div class="box">
            <label for="nationalTeamPlayers">National Team Players</label>
            <input type="text" formControlName="nationalTeamPlayers" id="nationalTeamPlayers">
        </div>
        <div class="box">
            <label for="foreigners">Foreigners</label>
            <input type="text" formControlName="foreigners" id="foreigners">
        </div>
        <div class="box">
            <label for="stadiumName">Stadium Name</label>
            <input type="text" formControlName="stadiumName" id="stadiumName">
        </div>
        <div class="box">
            <label for="stadiumCapacity">Stadium Capacity</label>
            <input type="text" formControlName="stadiumCapacity" id="stadiumCapacity">
        </div>
        <div class="box">
            <label for="currentTransferRecord">Transfer Record</label>
            <input type="text" formControlName="currentTransferRecord" id="currentTransferRecord">
        </div>
        <div class="box">
            <label for="clubMarketValue">Club Market Value</label>
            <input type="text" formControlName="clubMarketValue" id="clubMarketValue">
        </div>
        <button type="submit" class="btn" (click)="clubUpdate()">Edit</button>
    </form>
</div>