div{
    border-width: 1px;
}
th{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226);
    text-align: center;
    text-decoration: underline;
    text-decoration: none;
}

td{
    border: 1px solid rgb(226, 226, 226);
    text-align: center;
    background-color: white;
}

span{
    vertical-align: middle;
}

.updateButton::before{
    content:"\270F";
}

.deleteButton{
    margin-right: 10px;
}

.addButton{
    text-align: center;
    font-size: small;
    vertical-align: middle;
    float: right;
}

.title{
    background-color:#1a3151;
    text-indent: 6px; 
    font-size: large;
    font-weight: bold; 
    color: white;
}
