<div class="container">
    <div class="row mt-2" style="border-style: solid; height: 260px;" *ngIf="clubDetail">
        <div class="col-8" >
             <div class="row">
                  <div class="col-12" style="height: 57px; border-style: solid;"><h1>{{clubDetail.clubName}}</h1></div>
             </div>
             <div class="row">
                  <div class="col-3" style="height: 198px; border-style: solid;">
                       <img style="width: 150px;" [src]="imageUrl + clubDetail.clubImagePath" alt="lig logo">   
                  </div>
                  <div class="col-9" style="height: 198px; border-style: solid">
                       <div class="col" style="height: 120px;"></div>
                       <div class="col" style="height: 68px; border-style: solid">
                              <label>Kadro genişliği : <b>{{clubDetail.squadSize}}</b></label> ---
                              <label>Güncel Milli oyuncular : <b>{{clubDetail.nationalTeamPlayers}}</b></label><br>
                              <label>Yaş ortalaması : <b>{{clubDetail.averageAge}}</b></label> --- 
                              <label>Stat : <b>{{clubDetail.stadiumName}}</b> ({{clubDetail.stadiumCapacity}}) kapasite</label>
                              <label>Lejyonerler : <b>{{clubDetail.foreigners}}</b></label>
                       </div>
                  </div>
             </div>
        </div>
        <div class="col-4">
             <div class="row">
                  <div class="col-12" style=" border-style: solid; padding: 10px; background-color: white;">
                         <div class="row">
                              <div class="col-5" style="text-align: center;">
                                   <img style="width: 100px;" [src]="imageUrl + clubDetail.leagueImagePath">
                              </div>
                              <div class="col-7" >
                                   <label style="font-size: larger;">{{clubDetail.leagueName}}</label><br>
                                   <label><b>Lig seviyesi : <img style="width: 20px;" [src]="imageUrl + clubDetail.countryImagePath"></b> {{clubDetail.leagueLevel}} .lig</label><br>
                              </div>
                         </div>
                  </div>
                  <div class="col-12" style="text-align: center; padding-top: 20px; height:85.3px; border-style: solid; background-color: #089fdb; color: white;">
                       <h2>{{clubDetail.clubMarketValue | currency}}</h2>
                  </div>
             </div>
        </div> 
  </div>
  <div class="row mt-2" *ngIf="clubDetail">
          <div class="col-8" style="padding: 0px;">
               <div class="title">
                    <b>TEAM {{clubDetail.clubName}}</b>
                    <button class="addButton" data-bs-toggle="modal" data-bs-target="#footballerAdd">+</button>
               </div>
               <div class="col-12">
                    <table style="border: 1px solid red; margin-right: 5px;">
                         <thead>
                              <tr>
                                   <th></th>
                                   <th>Oyuncu</th>
                                   <th>Doğum Tarihi/Yaş</th>
                                   <th>Uyruk</th>
                                   <th>Piyasa Değeri</th>
                                   <th  style="width: 100px;">Editör</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let footballerDetail of footballersDetail">
                                   <td style="width: 40px; background-color: #74d6fc;">{{footballerDetail.playerNumber}}</td>
                                   <td style="width: 200px; text-align: start;">
                                        <table>
                                             <tbody>
                                                  <tr>
                                                       <td style="border:none">
                                                            <img style="width: 40px;" [src]="footballerDetail.footballerImagePath ? imageUrl + footballerDetail.footballerImagePath : imageUrl + noFootballerPhoto">
                                                       </td>
                                                       <td style="text-align: start; border: none; padding-left: 5px;">
                                                            <a style="text-decoration: none;" routerLink="/footballer/{{footballerDetail.id}}">{{footballerDetail.name}}</a><br>
                                                            <span >{{footballerDetail.positionName}}</span>            
                                                       </td>
                                                  </tr>
                                             </tbody>
                                        </table>
                                   </td>
                                   <td>{{footballerDetail.dateOfBirth | date}} ({{footballerDetail.age}})</td>
                                   <td><img style="width: 35px;" [src]="imageUrl + footballerDetail.footballerCountryImagePath"></td>
                                   <td>{{footballerDetail.footballerValue}}</td>
                                   <td>
                                         <button class="deleteButton" (click)="deleteFootballer(footballerDetail)">-</button>
                                         <button class="updateButton"  routerLink="/footballerUpdate/{{footballerDetail.id}}"></button>
                                   </td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
          <div class="col-4">
               a
          </div>
 </div>
</div>

 



<div class="modal" tabindex="-1" id="footballerAdd">
     <div class="modal-dialog modal-xl">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Footballer Add</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <app-footballeradd [leagueId]="leagueId" [countryId]="countryId"></app-footballeradd>
         </div>
       </div>
     </div>
   </div>
 