<div class="container">
    <div class="row mt-2" style="border-style: solid; height: 260px;">
        <div class="col-8">
             <div class="row">
                  <div class="col-12" style="height: 57px; border-style: solid;"><h1>Club</h1></div>
             </div>
             <div class="row">
                  <div class="col-3" style="height: 198px; border-style: solid;">lİG LOGO RESİM</div>
                  <div class="col-9" style="height: 198px; border-style: solid">
                       <div class="col" style="height: 120px;"></div>
                       <div class="col" style="height: 68px; border-style: solid">Oyuncu Özellikleri</div>
                  </div>
             </div>
        </div>
        <div class="col-4">
             <div class="row">
                  <div class="col-12" style="height:170.6px; border-style: solid">
                       
                  </div>
                  <div class="col-12" style="height:85.3px; border-style: solid;">
                       a
                  </div>
             </div>
        </div>
  </div>
</div>
<ul *ngFor="let footballer of footballers">
    <li>
        <a href="/footballer/{{footballer.id}}">{{footballer.name}}</a>
    </li>
</ul>