

<div class="wrapper">
    <form [formGroup]="nationalTeamUpdateForm">
        <div class="select-image">
            <app-imagemanager [countryId]="countryId"></app-imagemanager>
        </div>
        <div class="box">
            <label for="nationalTeamLevel">National Team Level</label>
            <input type="text" formControlName="nationalTeamLevel" id="nationalTeamLevel">
        </div>
        <div class="box">
            <label for="nationalTeamName">National Team Name</label>
            <input type="text" formControlName="nationalTeamName" id="nationalTeamName">
        </div>
        <div class="box">
            <label for="squadSize">Squad Size</label>
            <input type="number" formControlName="squadSize" id="squadSize">
        </div>
        <div class="box">
            <label for="averageAge">Average Age</label>
            <input type="number" formControlName="averageAge" id="averageAge">
        </div>
        <div class="box">
            <label for="marketValue">Market Value</label>
            <input type="number" formControlName="marketValue" id="marketValue">
        </div>

        <button type="submit" class="btn" (click)="nationalTeamUpdate()">Edit</button>
    </form>
</div>




