<div class="container-lg" style="background-color:rgb(233, 233, 255); width: 1034px;">
        <div class="row">
           <div class="col-12 mt-2" style="border-style: solid; height: 90px;">
                <app-headerbox></app-headerbox>
           </div>
           <div class="col-12 mt-2" style="border-style: solid; height : 60px; background-color: rgb(26, 49, 81);">
                <app-navi></app-navi>
           </div>
           <div class="col-12 mt-2" style="border-style: solid; height: 60px;">
            <app-selectbox></app-selectbox>
           </div>

           <main class="mb-2">
            <router-outlet></router-outlet>
           </main>

           <footer class="mb-2" style="border-style: solid; min-height: 80px;">
                A
           </footer>
        </div>
</div>
