*{
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #dee2e6;
    position: relative;

}

.container .row{
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.row .header{
    width: 100%;
    height: 80px;
    margin-top: 8px;
}


.row .navi{
    width: 100%;
    height: 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.row .main{
    padding: 0;
    margin: 0;
}

.row .footer{
    width: 100%;
}


@media only screen and (max-width : 768px){
    .select-box{
        display: none;
    }
}
