<div class="container mt-2"  style="padding-left: 0px;">
    <div class="row mt-2" style="border-style: solid; height: 260px;">
        <div class="col-8"  *ngIf="leagueDetail">
             <div class="row">
                  <div class="col-12" style="height: 57px; color: #1a3151;"><h1><b>{{leagueDetail.leagueName}}</b></h1></div>
             </div>
             <div class="row">
                  <div class="col-3" style="height: 198px; background-color: white;"><img style="width: 150px;" [src]="imageUrl + leagueDetail.leagueImagePath"></div>
                  <div class="col-9" style="height: 198px; padding: 0px;">
                       <div class="col" style="height: 120px;"></div>
                       <div class="col p-1" style="height: 78px; background-color:white;">
                            <div class="col-6">Number of teams : <b>{{leagueDetail.numberOfTeams}}</b></div>
                            <div class="col-6">Players : <b>{{leagueDetail.players}}</b></div>
                       </div>
                  </div>
             </div>
        </div>
        <div class="col-4">
             <div class="row" *ngIf="leagueDetail">
                  <div class="col-12" style="height:170.6px;">
                        <div class="row" style="padding: 10px; background-color: white;">
                            <div class="col-5">
                                <img style="border: 1px solid black; border-radius: 50%; width: 100px;" [src]="imageUrl + leagueDetail.countryImagePath"> 
                            </div>
                            <div class="col-7">
                                <b style="color: #2171e2;">{{leagueDetail.countryName}}</b><br>
                                Lig yüksekliği :<b> {{leagueDetail.leagueLevel}}.Lig</b>
                            </div>
                        </div>
                  </div>
                  <div class="col" style="height:85.3px; border-style: solid; background-color: #089fdb; color: white; font-size: larger; text-align: center; padding-top: 20px;">
                       <h2>{{leagueDetail.totalMarketValue}} milyar $</h2>
                  </div>
             </div>
        </div>
  </div>
    <div class="row mt-2">
        <div class="col-8 pl-0">
            <div class="col-12 py-1" style="background-color:#1a3151; text-indent: 6px; font-size: large; color: white;"><b>CLUB-SUPER LİG 23/24</b></div>
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Klüp</th>
                        <th>Kadro</th>
                        <th>Yaş</th>
                        <th>Lejyonerler</th>
                        <th>Kadro Değeri</th>
                    </tr>
                </thead>
                <tbody *ngFor="let club of clubs">
                    <tr>
                        <td><img style="width: 50px;" [src]="imageUrl + club.clubImagePath"></td>
                        <td><a routerLink="/club/{{club.id}}">{{club.clubName}}</a></td>
                        <td>{{club.squadSize}}</td>
                        <td>{{club.averageAge}}</td>
                        <td>{{club.foreigners}}</td>
                        <td>{{club.clubMarketValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<br>