<form  [formGroup]="leagueUpdateForm" style="border: 1px solid black;">
    <div>
        <label>League Name</label>
        <input type="text" formControlName="leagueName">
    </div>
    <div>
        <label>Number of Teams</label>
        <input type="number" formControlName="numberOfTeams">
    </div>
    <div>
        <label>Total Market Value</label>
        <input type="number" formControlName="totalMarketValue">
    </div>
    <div>
        <label>Players</label>
        <input type="number" formControlName="players">
    </div>
    <div>
        <label>League Level</label>
        <input type="number" formControlName="leagueLevel">
    </div>
    <div>
        <label>Reigning Champion</label>
        <input type="number" formControlName="reigningChampion">
    </div>
    <div *ngIf="leagueDetail">
        <button (click)="leagueUpdate()" routerLink="/country/{{leagueDetail.countryId}}">League Update</button>
    </div>
</form>











