<div class="container text-center justify-content-center">
    <div class="row">
        <div class="col-1">
            START
        </div>

        <div class="col-2">
            <Select (change)="selectCountry($event)">
                <option selected disabled>Ülke</option>
                <option [value]="country.id" *ngFor="let country of countrys">{{country.countryName}}</option>
            </Select>
            <button (click)="countryRoute()">Button</button>
        </div>

        <div class="col-2">
            <Select (change)="selectLeague($event)">
                <option selected disabled>Müsabaka</option>
                <option [value]="league.id" *ngFor="let league of leagues">{{league.leagueName}}</option>
            </Select>
            <button (click)="leagueRoute()">Button</button>
        </div>

        <div class="col-2">
            <Select (change)="selectClub($event)">
                <option selected disabled>Klüp</option>
                <option [value]="club.id" *ngFor="let club of clubs">{{club.clubName}}</option>
            </Select>
            <button (click)="clubRoute()">Button</button>
        </div>
        
        <div class="col-2">
            <Select (change)="selectFootbaler($event)">
                <option selected disabled>Futbolcu</option>
                <option [value]="footballer.id" *ngFor="let footballer of footballers">{{footballer.name}}</option>
            </Select>
            <button (click)="footballerRoute()">Button</button>
        </div>
        
        <div class="col-3">
            A
        </div>
    </div>
</div>

