
.wrapper{
    display: flex;
    column-gap: 20px;
    width: 100%;
    height: 100%;
}

.wrapper .icon{
    color: #fff;
    font-size: 25px;
}

.wrapper .arrow{
    font-size: 32px;
    color: #00bbf9;
}

.wrapper .box{
    display: flex;
    align-items: center;
    padding: 3px;
}

.box .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #16425b;
}

.icon-box .flag{
    transform: rotate(-10deg);
}

.icon-box .home{
    cursor: pointer;
}

.box .select{
    height: 45px;
    width: 100px;
    text-indent: 5px;
    border-radius: 0;
    font-size: 19px;
    font-weight: 500;
    color: #343a40;
    background-color: #e9ecef;
    outline: none;
    border: none;
    cursor: pointer;
}

.wrapper .btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 45px;
    border: none;
    background-color: #ced4da;
    cursor: pointer;
}

.wrapper .home-box{
    width: 45px;
    height: 45px;
    border: 1px solid black;
}
