    <div class="wrapper">
        <div class="box">
            <div class="icon-box" routerLink="/home" (click)="selectboxReload()">
                <i class='bx bxs-home home icon'></i>
            </div>
        </div>
    
        <div class="box">
            <div class="icon-box">
                <i class='bx bxs-flag-alt flag icon'></i>
            </div>
            <select class="select" (change)="selectCountry($event)">
                <option selected>Country</option>
                <option [value]="country.id" *ngFor="let country of countrys">{{country.countryName}}</option>
            </select>
            <div class="btn-box">
                <button  (click)="countryRoute()">
                    <i class='bx bx-chevrons-right arrow'></i>
                </button>
            </div>
        </div>
    
        <div class="box">
            <div class="icon-box">
                <i class='bx bxs-trophy icon'></i>
            </div>
            <select class="select" (change)="selectLeague($event)">
                <option selected>League</option>
                <option [value]="league.id" *ngFor="let league of leagues">{{league.leagueName}}</option>
            </select>
            <div class="btn-box">
                <button (click)="leagueRoute()">
                    <i  class='bx bx-chevrons-right arrow'></i>
                </button>            
            </div>
        </div>
    
        <div class="box" [ngClass]="disabledViewClub()">
            <div class="icon-box">
                <i class='bx bxs-t-shirt icon'></i>
            </div>
            <Select class="select" (change)="selectClub($event)"  [disabled]="disabledClub">
                <option selected>Club</option>
                <option [value]="club.id" *ngFor="let club of clubs">{{club.clubName}}</option>
            </Select>
            <div class="btn-box">
                <button  (click)="clubRoute()">
                    <i class='bx bx-chevrons-right arrow'></i>
                </button>
            </div>
        </div>
    
        <div class="box"  [ngClass]="disabledViewFootballer()">
            <div class="icon-box">
                <i class="bi bi-person-fill icon"></i>
            </div>
            <select class="select" (change)="selectFootbaler($event)" [disabled]="disabledFootballer">
                <option selected>Player</option>
                <option [value]="footballer.id" *ngFor="let footballer of footballers">{{footballer.name}}</option>
            </select>
            <div class="btn-box">
                <button  (click)="footballerRoute()">
                    <i class='bx bx-chevrons-right arrow'></i>
                </button>
            </div>
        </div>
    </div>
