<div class="wrapper">
    <div class="title-box">
        <div>NEWS</div>
        <div>TRANSFERS & RUMOURS</div>
        <div>MARKET VALUES</div>
        <div>COMPETITIONS</div>
        <div>FORUMS</div>
        <div>MY TM</div>
        <div>LIVE</div>
    </div>
    <div class="log-box">
        <div class="log">
            <button class="login">
                <i class="bi bi-person-fill icon"></i>
                <span>LOG IN</span>
            </button>
            <button class="register">
                <i class="bi bi-person-fill-add icon"></i>
                <span>REGISTER</span>
            </button>
        </div>
    </div>
</div>