<div class="wrapper">
    <form [formGroup]="leagueAddForm">

            <input type="text" formControlName="leagueName" placeholder="League name...">

            <input type="number" formControlName="numberOfTeams" placeholder="Number of teams...">

            <input type="number" formControlName="totalMarketValue" placeholder="Total market value...">

            <input type="number" formControlName="players" placeholder="Players...">

            <input type="number" formControlName="leagueLevel" placeholder="League level...">

            <input type="number" formControlName="reigningChampion" placeholder="Reigning champion...">
    </form>
</div>




