<div class="wrapper">


    <form [formGroup]="leagueAddForm">

        <div class="box">
            <label for="leagueName">League Name</label>
            <input type="text" formControlName="leagueName" id="leagueName">
        </div>
        <div class="box">
            <label for="totalMarketValue">Total Market Value</label>
            <input type="number" formControlName="totalMarketValue" id="totalMarketValue">
        </div>
        <div class="box">
            <label for="players">Players</label>
            <input type="number" formControlName="players" id="players">
        </div>
        <div class="box">
            <label for="leagueLevel">League Level</label>
            <input type="number" formControlName="leagueLevel" id="leagueLevel">
        </div>
        <div class="box">
            <label for="reigningChampion">Last Champion</label>
            <input type="number" formControlName="reigningChampion" id="reigningChampion">
        </div>

        <button type="submit" class="btn" (click)="leagueAdd()">Add</button>
    </form>
</div>



