<form [formGroup]="leagueUpdateForm">
    <div>
        <label>League Name</label><br>
        <input type="text" formControlName="leagueName">
    </div>  
    <div>
        <label>Number of Teams</label><br>
        <input type="number" formControlName="numberOfTeams">
    </div>
    <div>
        <label>Total Market Value</label><br>
        <input type="number" formControlName="totalMarketValue">
    </div>
    <div>
        <label>Players</label><br>
        <input type="number" formControlName="players">
    </div>
    <div>
        <label>League Level</label><br>
        <input type="number" formControlName="leagueLevel">
    </div>
    <div>
        <label>Reigning Champion</label><br>
        <input type="number" formControlName="reigningChampion">
    </div><br>
    <div>
        <button (click)="leagueUpdate()">League Update</button>
    </div>
</form>





