<div class="row p-0 m-0" *ngIf="nationalTeamDetail">
    <div class="col-12 col-md-8 p-2 m-0">
        <div class="league-wrapper">
            <div class="title-box">
                SQUAD {{nationalTeamDetail.nationalTeamName}}
                <i data-bs-toggle="modal" data-bs-target="#leagueAdd" class='bx bx-plus plus icon'></i>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Player</th>
                        <th>Date of birth/Age</th>
                        <th>Club</th>
                        <th>Market value</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let footballerDetail of footballerDetails">
                        <td>{{footballerDetail.nationalTeamNumber}}</td>
                        <td class="footballer-info">
                            <div class="footballer-image-box">
                                <img class="footballer-image"
                                    [src]="footballerDetail.footballerImagePath ? imageUrl + footballerDetail.footballerImagePath : imageUrl + noFootballerPhoto" />
                            </div>
                            <div class="footballer-name-position">
                                <div class="footballer-name">{{footballerDetail.name}}</div>
                                <div class="footballer-positon">{{footballerDetail.positionName}}</div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="col-12 col-md-4  p-2  m-0">
        <div class="national-wrapper">
            <div class="title-box">
                NATIONAL TEAMS
                <i data-bs-toggle="modal" data-bs-target="#nationalTeamAdd" class='bx bx-plus plus icon'></i>
            </div>

        </div>
    </div>
</div>