<div class="container mt-2"  style="padding-left: 0px;">
    <div class="row mt-2">
        <div class="col-8" *ngIf="footballerDetails">
            <div class="title"  *ngIf="nationalTeamDetail">
                <b>Kadro {{nationalTeamDetail.nationalTeamName}}</b>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Numara</th>
                        <th>Oyuncu</th>
                        <th>Yaş</th>
                        <th>Klüp</th>
                        <th>Piyasa Değeri</th>
                        <th>Editör</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let footballerDetail of footballerDetails">
                        <td>Numara</td>
                        <td>
                           <img style="width: 30px;" [src]="footballerDetail.footballerImagePath ? imageUrl + footballerDetail.footballerImagePath : imageUrl + noFootballerPhoto">
                           <b>{{footballerDetail.name}}</b> 
                        </td>
                        <td>{{footballerDetail.age}}</td>
                        <td>
                            <img style="width: 30px;"  [src]="imageUrl + footballerDetail.footballerClubImagePath">
                        </td>
                        <td>{{footballerDetail.footballerValue}}</td>
                        <td>
                            <button (click)="playerActiveAndPassive(footballerDetail)">-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            b
        </div>
  </div>
</div>